body {
    background: black;
    color: lime;
    font-family: monospace;
    padding: 20px;
}

#terminal {
    height: 70vh;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-bottom: 10px;
}

#input-line {
    display: flex;
    align-items: center;
    border: 1px solid lime;
    padding: 9px;
    margin-bottom: 20px;
}

#command {
    background: black;
    color: lime;
    border: none;
    outline: none;
    font-family: monospace;
    font-size: 16px;
    width: 100%;
}

.btn {
  background-color: black;
  border: solid 3px lime;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
    background-color: lime;
    color:#000;
}